@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(158, 147, 185);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todays-to-do h1 {
  color: white;
  margin-top: 45px;
}

.todays-to-do h1:hover {
  background: blue;
  cursor: pointer;
}

form {
  margin-top: 25px;
  background: #fff;
}

form input {
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 5px;
}

button {
  cursor: pointer;
}

form button {
  width: 50px;
  height: 40px;
  border: none;
  background: teal;
  color: white;
  outline: none;
  cursor: pointer;
}

ul li {
  width: 100%;
  background: rgb(168, 40, 168);
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  box-shadow: -3px 6px 4px #354;
}

.to-do {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: rgb(116, 58, 96);
  display: flex;
  flex-direction: column;
}

.todays-to-do {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-list {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  background: #fff;
}

.add-list input {
  font-style: italic;
  width: 500%;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.btn-clear {
  display: block;
  margin-top: auto;
  border: 1px solid #ccc;
  padding: 15px 0;
  color: rgb(138, 133, 133);
  font-size: 1rem;
}

.add-task {
  border: none;
}

.do-list {
  list-style-type: none;
}

.do-list li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-description {
  border: none;
  outline: none;
  font-size: 0.9rem;
  width: 100%;
  height: 40px;
  background: white;
  color: rgb(122, 33, 33);
  padding-left: 1px;
}

.check,
.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.edit,
.del {
  cursor: pointer;
}
